<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tencent.wxcloudrun.dao.DongtaiMapper">

    <resultMap id="dongtaiMapper" type="com.tencent.wxcloudrun.model.Dongtai">
        <id property="id" column="id"/>
        <result property="uid" column="uid"/>
        <result property="media_list" column="media_list"/>
        <result property="text" column="text"/>
        <result property="text" column="nickName"/>
        <result property="shoucang_num" column="shoucang_num"/>
        <result property="dian_zan" column="dian_zan"/>
        <result property="createdAt" column="createdAt" javaType="java.time.LocalDateTime" />
        <result property="updatedAt" column="updatedAt" javaType="java.time.LocalDateTime"  />
    </resultMap>
    <select id="getById" resultMap="dongtaiMapper" parameterType="java.lang.Integer">
        SELECT *
        FROM `t_dongtai`
        WHERE id = #{id}
    </select>

    <delete id="delete" parameterType="com.tencent.wxcloudrun.model.Dongtai">
        DELETE
        FROM Counters
        where id = #{id}
    </delete>

    <update id="insert" parameterType="com.tencent.wxcloudrun.model.Dongtai">
        INSERT INTO `t_dongtai`(`uid`, `media_list`, `text`, `nickName`, `shoucang_num`, `dian_zan`)
        VALUE(#{uid}, #{media_list}, #{text}, #{nickName}, #{shoucang_num}, #{dian_zan})

    </update>

</mapper>
